<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tams4a.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tams4a.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <tams4a.Properties.Settings>
      <setting name="lastProject" serializeAs="String">
        <value />
      </setting>
      <setting name="windowGeometry" serializeAs="String">
        <value />
      </setting>
      <setting name="lastFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="lastPhoto" serializeAs="String">
        <value>DSC0000.jpg</value>
      </setting>
      <setting name="updatedVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="newProject" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="projectFolder" serializeAs="String">
        <value />
      </setting>
    </tams4a.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <tams4a.Properties.Settings>
      <setting name="dbPassword" serializeAs="String">
        <value>utahltap</value>
      </setting>
      <setting name="ReportUrl" serializeAs="String">
        <value>https://www.utahltap.org/software/tams4/report_process.php</value>
      </setting>
      <setting name="dbVersion" serializeAs="String">
        <value>5</value>
      </setting>
    </tams4a.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>